body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background: #1db954;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.theme-btn {
  background-color: #ffffff33;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.controls {
  margin: 20px;
}

.music-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

#songDisplay {
  margin-top: 10px;
  font-weight: bold;
}

input[type="range"] {
  width: 300px;
}

.login-container {
  max-width: 300px;
  margin: 100px auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.login-container input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.login-container button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

